.gcloudignore
.git
.gitignore

# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
**/*.egg-info/
.installed.cfg
**/*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
**/.venv/
**/venv/
ENV/

# Node / Javascript
**/node_modules/
frontend/dist/
frontend/.cache/
npm-debug.log
yarn-error.log

# System
.DS_Store
Thumbs.db
